__pycache__/
.trash/
*.out
*.csv
*.tmp
*.old
input
test.py
notes.txt
functions.po
priorities.po
roster.po
run.po
*.mo
*.pot
env/
misc/
*roster_*.aux
*roster_*.log
*roster_*.pdf
*roster_*.tex
*roster_*.html
*roster_*.xml
*roster_*.json
texput.log
vacations.py
*.py~
.gitignore~
*.pkl
